<nav class="bg-white py-3 mb-4">
    <div class="container d-flex flex-wrap gap-2">
        <!-- Товары -->
        <a href="/api/products/" class="btn btn-sm btn-outline-primary">Список товаров</a>
        
        <!-- Категории -->
        <a href="/api/categories/" class="btn btn-sm btn-outline-primary">Список категорий</a>
        
        <!-- Теги -->
        <a href="/api/tags/" class="btn btn-sm btn-outline-primary">Список тегов</a>
       
        <!-- Заказы -->
        <a href="/api/orders/" class="btn btn-sm btn-outline-primary">Список заказов</a>
        
        <!-- Позиции заказа -->
        <a href="/api/order-items/" class="btn btn-sm btn-outline-primary">Список позиций</a>
            </div>
</nav>
