{% extends 'app/base.html' %}

{% block title %}Категории{% endblock %}
{% block subnav %}
    {% include 'inc/catalog_nav.html' %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Категории</h1>

    {% if categories %}
        <div class="row">
            {% for category in categories %}
                <div class="col-md-4 mb-4">
                    <a href="{% url 'products_by_category' category.id %}" class="text-decoration-none text-dark">
                        <div class="card h-100 hover-shadow">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <h5 class="card-title">{{ category.name }}</h5>
                                <p class="card-text">{{ category.description|truncatechars:100 }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">Категорий нет.</div>
    {% endif %}
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'category_add' %}" class="btn btn-success mt-4">Добавить категорию</a>
    {% endif %}
</div>
{% endblock %}
